<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify your Email for DYNO Account</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            width: auto;
            text-align: center;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
        }

        img {
            width: 100px;
        }

        p {
            font-size: 18px;
            margin: 20px 0;
        }

        a {
            display: inline-block;
            padding: 6px 20px;
            
            background: #07f6ec;
            color: rgb(12, 12, 12) !important;
            animation: 'ease .1s';
            border: 1.5px solid #1C6DD0;
            border-radius: 5px;
            text-decoration: none;
            font-size: 18px;
        }

        a:hover: {
            
            background: #07f6ec;
            animation: ease .1s
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>BlossyLeaf Account Verification</h2>
        <p>Hello {{name}} You registered an account on BlossyLeaf, but before being able to use your account, you
            need
            to verify that this is your email address </p>
            your OTP is {{otp}}
        {{!-- <a href={{link}}>Verify</a> --}}
        <p>If you are having any issue with your account, please don't hesitate to contact us by replying to this email.
        </p>
        <p>Thank you</p>
        
    </div>
</body>

</html>